body{
    background-color:gray;
}
.juego {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  
}

.container {
  display: flex;
}

.datos {
  display: flex;
  flex-flow: column;
  align-items: center;
  padding: 10px;
}

.grid {
  width: 200px;
  height: 400px;
  background-color: aquamarine;
  display: flex;
  flex-wrap: wrap;
}

.grid div {
  height: 20px;
  width: 20px;
  outline: 1px solid black;
  box-shadow: inset;
}

.tetromino {
  background-color: blueviolet;
}

.mini-grid {

  width: 80px;
  height: 80px;
  display: flex;
  flex-wrap: wrap;
  background-color: yellow;
}

.mini-grid div {
  height: 20px;
  width: 20px;
  outline: 1px solid black;
}

.nivelBX{
    width: 80px;
    height: 50px;
    background-color: azure;
    outline: 1px solid black;
    margin: 10px;
    text-align: left;
}

.lineasBX{
    width: 80px;
    height: 50px;
    background-color: azure;
    outline: 1px solid black;
    margin: 10px;
    text-align: left;
}
.scoreBX{
    width: 80px;
    height: 50px;
    background-color: azure;
    border: 1px solid black;
    margin: 10px;
    text-align: left;
}